.contact-form {
  max-width: 400px;
  margin: auto;
}

.contact-form p {
  color: rgb(255, 40, 28);
}

input {
  border: none transparent;
  width: 400px;
  font-size: 0.9em;
  padding: 9px;
  border-radius: 7px;
  margin-top: 10px;
  background-color: white;
}

input:focus {
  outline: none;
}
