.product-container {
    max-width: 1500px;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    grid-gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    max-width: 400px;
    border: none;
    text-align: center;
    background-color: white;
    padding-bottom: 20px;
    color: black;
}

.card img {
    height: 450px;
    object-fit: cover;
    background-position: center;
}