body {
    background-color: rgb(244, 244, 244);
    font-family: 'DM Sans', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    display: flex;
}

li {
    padding-right: 10px;
    align-self: center;
}

.cart-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}