body {
    background-color: rgb(244, 244, 244);
    font-family: 'DM Sans', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    display: flex;
}

li {
    padding-right: 10px;
    align-self: center;
}

.cart-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.checkout-card {
    text-align: center;
}

.search {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.search-bar {
    width: 100%;
}

.search-list {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    max-height: 150px;
    overflow-y: scroll;
    border-radius: 7px;
}

.search-result {
    padding: 10px 15px 10px 15px;
}

.search-result:hover {
    background-color: rgb(255, 150, 150);
}